workflows/Inventory Workflow Error Handler.json
{
  "name": "Inventory Workflow Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "bf8773f8-0a34-42a9-8c5a-ec5e04a105ad",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-workflow-name",
              "name": "workflow_name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error_message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "err-node",
              "name": "failed_node",
              "value": "={{ $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "err-time",
              "name": "failed_at",
              "value": "={{ $json.trigger.timestamp }}",
              "type": "string"
            },
            {
              "id": "err-url",
              "name": "execution_url",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            },
            {
              "id": "err-stack",
              "name": "error_stack",
              "value": "={{ $json.execution.error.stack || \"No stack trace available\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "93de2c93-a90d-4783-b2a6-f39f40ce6394",
      "name": "Format Error Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (action, table_name, record_id, performed_by, details)\nVALUES ('WORKFLOW_ERROR', 'n8n_workflows', NULL, 'n8n_error_handler', '{{ $json.workflow_name }} failed at node \\'{{ $json.failed_node }}\\': {{ $json.error_message }}');",
        "options": {}
      },
      "id": "f27d746e-fd73-4b2c-86d3-25d65eb9647b",
      "name": "Log Error to Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "sjnKL5IIjWedGMN3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-subject",
              "name": "subject",
              "value": "={{ \"Workflow Failed: \" + $json.workflow_name }}",
              "type": "string"
            },
            {
              "id": "email-html",
              "name": "html_body",
              "value": "={{ \"<h2 style=\\\"color:#c0392b;\\\">Workflow Failure Alert</h2>\" + \"<p>The workflow <b>\" + $json.workflow_name + \"</b> failed and could not complete.</p>\" + \"<table border=\\\"1\\\" cellpadding=\\\"8\\\" cellspacing=\\\"0\\\" style=\\\"border-collapse:collapse;font-family:sans-serif;\\\">\" + \"<tr><td><b>Failed Node</b></td><td>\" + $json.failed_node + \"</td></tr>\" + \"<tr><td><b>Error Message</b></td><td>\" + $json.error_message + \"</td></tr>\" + \"<tr><td><b>Time</b></td><td>\" + $json.failed_at + \"</td></tr>\" + \"</table>\" + \"<p style=\\\"margin-top:16px;\\\"><a href=\\\"\" + $json.execution_url + \"\\\">View full execution log in n8n</a></p>\" + \"<details style=\\\"margin-top:12px;color:#555;\\\"><summary>Stack trace</summary><pre style=\\\"font-size:11px;white-space:pre-wrap;\\\">\" + $json.error_stack + \"</pre></details>\" + \"<p style=\\\"color:#888;font-size:12px;margin-top:16px;\\\">Generated automatically by the n8n error-handling workflow.</p>\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e1bba730-e0d0-404b-8543-08ff67aa4ecf",
      "name": "Build Error Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        384
      ]
    },
    {
      "parameters": {
        "sendTo": "admin@example.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html_body }}",
        "options": {}
      },
      "id": "f4236a6e-33bf-4d46-b22f-e30d7b6631a7",
      "name": "Send Error Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        384
      ],
      "webhookId": "aff14232-28c6-4df7-a8ef-ead34cfa3b41",
      "credentials": {
        "gmailOAuth2": {
          "id": "F2FBM3s6rVlvcJLa",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Central Error Handler\n\nThis workflow does not run on its own schedule. Instead, attach it to other workflows via Settings -> Error Workflow on each one. n8n then automatically triggers this workflow any time the attached workflow fails.\n\nOn failure, this workflow:\n1. Extracts the failed workflow name, node, message, and stack trace\n2. Writes a WORKFLOW_ERROR row to audit_log\n3. Emails the admin a readable summary with a link to the execution log",
        "height": 200,
        "width": 600,
        "color": 3
      },
      "id": "da852ca8-bbd6-48cb-9255-c2e09b721b2c",
      "name": "Sticky Note 00bf3fbe",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Format Error Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Details": {
      "main": [
        [
          {
            "node": "Log Error to Audit Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Email": {
      "main": [
        [
          {
            "node": "Send Error Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "d111e3ca-0924-4688-9d8c-2e05fa50a1e7",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "c89ba24ed3f345de616fdf62042d99ebc54e902460595ef15d859a74052adc79"
  },
  "nodeGroups": [],
  "id": "tHQxJ8ziBoBUFcBc",
  "tags": []
}